#!/usr/bin/env python
#
# Solution for Advent of Code {{ year }}
# Day {{ day }}, part {{ part }}
#
# Author: Markus Lindström <markus@markpage.be>
#

with open("{{ demo_input }}") as fp:
    for line in fp:
        pass
